.player {
    position: relative;
    max-height: 500px;
    overflow-y: auto;
}

.player .playerHeader {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 68px;
    padding-left: 28px;
    width: 100%;
    background-color: #0A0A0A;
    z-index: 1;
    color: #fff;
}

.player .playerHeader img {
    height: 32px;
}

.player .playerHeader h2 {
    margin-left: 10px;
}

@media (max-width: 540px) {
    .player .playerHeader {
        position: absolute!important;
    }
    .player .playerItems {
        margin-top: 70px!important;
    }
}

.player::-webkit-scrollbar {
    width: 0!important;
}

.player .playerItems {
    margin-top: 68px;
    z-index: 0;
}

.player .item {
    position: relative;
    display: flex;
    align-items: center;
    margin: 22px;
    background-color: #202731;
    color: #fff;
    border-radius: 5px;
}

.player .item .itemBody {
    width: 100%;
}

.player .item img {
    height: 32px;
    margin: 20px;
}
.player .item .itemBuy {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    height: 100%;
    margin: 5px;
}

.player .item .itemBuy button {
    height: calc(100% - 10px);
    min-width: 80px;
    font-family: 'Planes_ValMore', Courier, monospace;
    background-color: gold;
    border: 2px solid #0A0A0A;
    border-radius: 5px;
    outline: none;
}

.player .item p {
    margin: 5px 0 0 0;
}

.player .itmImg {
    position: relative;
}

.itemTooltip {
    z-index: 10;
    background-color: #4a5666;
    padding: 10px;
    position: absolute;
    top: 100%;
    border-radius: 5px;
    opacity: 0;
    transform: scale(0);
    transition: all 0.2s ease-in;
    overflow: visible;
}

.itemTooltip::after {
    position: absolute;
    top: -15px;
    left: 20px;
    content: '';
    height: 30px;
    width: 30px;
    transform: rotate(45deg);
    background-color: #4a5666;
}

.itemTooltip.show {
    opacity: 1;
    transform: scale(1);
}